body main p , h4 ,ol ,ul
{
    margin: 20px;
    align-self: auto;

}
 

body main h1
{
    text-align: center;
    font-size: 1.5cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

body
{
    background-color: lightseagreen;
    
}
